body {
    margin: 0px;
    padding: 0px;
}

img {
    padding-top: 10px;
    padding-right: 20px;
    padding-bottom: 10px;
    padding-left: 20px;
}

body {
    background-image: ("./Skittles.png");
    /* background-color: #913b3b */
}

canvas {
    position: absolute;
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-columns: 1fr;
    background-color: #000;
}