<!doctype html>
<html lang="en">

<head>

  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

  <title></title>
</head>
<style>
  body {
    background-image: url("../static/images/Skittles.png");
    background-repeat: no-repeat;
    background-size: cover;
  }

  canvas {
    position: absolute;
  }

  .jumbotron {
    background-image: url("../static/images/skittles2.png");
    background-color: black;
    color: white;
    margin-bottom: 0px;
    /* color is for FONT */
  }
  
</style>

<body>
  <!-- PUT EVERYTHING HERE -->

  <!-- This styling area is for just this page! -->
  <canvas id="skittles-canvas"></canvas>

  <div class="container">

    <!-- JUMBOTRON -->
    <!-- <div class="row"> -->
    <div class="jumbotron text-center">

      <h1></h1>
      <hr>
      <!-- Random Fact Area -->


      <!-- NAV BAR -->

      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
          aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <ul class="navbar-nav">
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                Graph Visuals
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <a class="dropdown-item" href="/">Home</a>
              <a class="dropdown-item" href="/stacked">Normal vs. Defects</a>
              <a class="dropdown-item" href="/skittles_mla">MLcode</a>
              <a class="dropdown-item" href="/skittles_obs">Obscode</a>
              </div>
               
            </li>
          </ul>
        </div>
      </nav>

      <div class="text center">
        <div class="p-3 mb-2 bg-light text-dark"> 
        </div>

        <!-- DIV for stacked overall chart -->
        <div id="stacked-overall"></div>

        <!-- DIV for stacked overall MEAN chart -->
        <div id="stacked-overall-mean"></div>
      </div>
    </div>

  </div>

  <div id="footer">
    <p>Robben, Chris, and Thalia &copy;2019</p>
  </div>

  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
  </script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous">
  </script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
  </script>

  <!-- D3 -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.5.0/d3.js"></script>

  <!-- PLOTLY -->
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

  <!-- GRAPH CODE -->
  <script>
    // Read the CSV and extract out the values
    d3.csv("../static/data/skittles.csv")
      .then(function (response) {
        console.log(response);

        // create our variables
        p_total = 0
        g_total = 0
        r_total = 0
        y_total = 0
        o_total = 0

        dp_total = 0
        dg_total = 0
        dr_total = 0
        dy_total = 0
        do_total = 0

        // loop through each row and grab all the count of all colors (normal and defected)
        for (let index = 0; index < response.length; index++) {
          let element = response[index];

          // add to each one of the variables
          p_total += parseInt(element['purple'])
          g_total += parseInt(element['green'])
          r_total += parseInt(element['red'])
          y_total += parseInt(element['yellow'])
          o_total += parseInt(element['orange'])

          dp_total += parseInt(element['d_purple'])
          dg_total += parseInt(element['d_green'])
          dr_total += parseInt(element['d_red'])
          dy_total += parseInt(element['d_yellow'])
          do_total += parseInt(element['d_orange'])
        }

        var colors = ["Purple", "Green", "Red", "Yellow", "Orange"];

        var normalCount = [p_total, g_total, r_total, y_total, o_total];
        var defectCount = [dp_total, dg_total, dr_total, dy_total, do_total];

        // Regular skittles bar data
        var Normal = {
          x: colors,
          y: normalCount,
          type: 'bar',
          text: normalCount.map(String),
          textposition: 'auto',
          hoverinfo: 'none',
          opacity: 0.5,
          marker: {
            color: ['rgb(102, 0, 102)', 'rgb(0, 204, 0)', 'rgb(204, 0, 0)', 'rgb(255, 255, 0)', 'rgb(255, 102, 0)'],
            line: {
              color: 'rgb(102, 0, 102)',
              width: 1.5
            }
          }
        };

        // Defect skittles bar data
        var Defective = {
          x: colors,
          y: defectCount,
          type: 'bar',
          text: defectCount.map(String),
          textposition: 'auto',
          hoverinfo: 'none',
          marker: {
            color: ['rgb(102, 0, 102)', 'rgb(0, 204, 0)', 'rgb(204, 0, 0)', 'rgb(255, 255, 0)', 'rgb(255, 102, 0)'],
            line: {
              color: 'rgb(purple, green,red,yellow,orange)',
              width: 1.5
            }
          }
        };

        var data = [Normal, Defective];

        var layout = {
          barmode: 'stack',
          title: 'Distribution of Normal and Defective Skittles by Color'
        };

        Plotly.newPlot('stacked-overall', data, layout);

        // *************************************************************************************** //
        // MEAN/AVERAGE GRAPH SECTION

        // calculate total normal
        // calculate total defects
        normal_total = p_total + g_total + r_total + y_total + o_total;
        defect_total = dp_total + dg_total + dr_total + dy_total + do_total;

        // calculate all means for norml and defects
        p_mean = p_total / 100;
        g_mean = g_total / 100;
        r_mean = r_total / 100;
        y_mean = y_total / 100;
        o_mean = o_total / 100;

        dp_mean = dp_total / 100;
        dg_mean = dg_total / 100;
        dr_mean = dr_total / 100;
        dy_mean = dy_total / 100;
        do_mean = do_total / 100;


        var normalMean = [p_mean, g_mean, r_mean, y_mean, o_mean];
        var defectMean = [dp_mean, dg_mean, dr_mean, dy_mean, do_mean];

        var Normal_S = {
          x: colors,
          y: normalMean,
          mode: 'markers',
          type: 'scatter',
          name: 'Normal',
          text: colors,
          marker: {
            size: 12,
            color: ['rgb(102, 0, 102)', 'rgb(0, 204, 0)', 'rgb(204, 0, 0)', 'rgb(255, 255, 0)', 'rgb(255, 102, 0)'],
          
          }
        };

        var Defective_S = {
          x: colors,
          y: defectMean,
          mode: 'markers',
          type: 'scatter',
          name: 'Defects',
          text: colors,
          marker: {
            size: 12,
            color: ['rgba(102, 0, 102, 0.2)', 'rgba(0, 204, 0, 0.2)', 'rgba(204, 0, 0,0.2)', 'rgba(255, 255, 0,0.2)', 'rgba(255, 102, 0,0.2)'],
          
          }
        };

        var data = [Normal_S, Defective_S];

        var layout = {
          // xaxis: {
          //   range: [0.75, 5.25]
          // },
          // yaxis: {
          //   range: [0, 8]
          // },
          title: 'Average of Normal and Defective Skittles by Color'
        };

        Plotly.newPlot('stacked-overall-mean', data, layout, {
          showSendToCloud: true
        });

      })
  </script>

</body>

</html>